/* 

.artist-img {
    width: 15rem;
}

.icon-artist,
.icon-song {
    font-size: 3rem;
    text-decoration: none;
    color: #1db954;
}
.icon-song {
    font-size: 2rem;
}

.card {
    width: 14rem;
    display: flex;
    min-height: 25rem;
}

.artist-container {
    display: flex;
    justify-content: center;
} */
